.info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  background-color: var(--background-6-color);

  flex-wrap: wrap;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;

  flex: 1;
  max-width: 900px;
  min-width: 450px;

  &__item {
    padding: 15px 20px;
    background-color: var(--background-color);
    border-radius: 3px;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 10px;

  flex: 1;
  max-width: 410px;
  min-width: 320px;

  &__item {
    padding: 15px 20px;
    background-color: var(--background-5-color);
    border-radius: 5px;

    &_bottomWide {
      padding-bottom: 20px;
    }
  }
}
