@import '../../../../../mixins.scss';

.info {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 10px;
  align-items: center;

  &__svgContainer {
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
  }

  &__label {
    @include textBold;
  }

  &__main {
  }

  &__textInfo {
    @include paragraph;
    color: var(--light-text-color);
  }
}
