.main {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex: 1;

  &__items {
    display: flex;
    flex-direction: row;
    gap: 7px;
    background-color: var(--background-2-color);
    padding: 15px;
    border-radius: 3px;
    border: 1px solid var(--background-4-color);
    flex: 1;
  }

  &__itemsField {
    flex: 2;
  }

  &__itemInfo {
    flex: 1;
    max-width: 310px;
    min-width: 270px;
  }

  &__apps {
    flex: 1;
    max-width: 240px;
    min-width: 220px;
  }
}
