@import '../../../mixins.scss';

.desc {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__item {
    display: flex;
    flex-direction: row;
    gap: 8px;

    &_definitionList {
      flex-direction: column;
    }
  }

  &__term {
    &::after {
      content: ':';
    }

    &_light {
      color: var(--light-text-color);
    }

    &_simple {
      color: var(--grey-text-color);
    }
  }

  &__definition {
    margin: 0;

    &_link {
      color: var(--active-2-color);
      cursor: pointer;

      &:hover {
        color: var(--active-2-hover-color);
      }
    }
  }

  &__definitionList {
    margin: 0;
    padding-left: 25px;
  }

  &__definitionListItem {
    @include paragraph;
  }
}
