@import 'mixins.scss';

.recovery {
  display: flex;
  flex-flow: column;
  gap: 20px;
  max-width: 500px;
  padding: 25px 15px;

  &__header {
    display: flex;
    justify-content: flex-start;
  }

  &__headerTitle {
  }

  &__main {
    display: flex;
    flex-flow: column;
    gap: 20px;
  }

  &__aboutText {
    color: var(--grey-text-color);
  }
}

.form {
  display: flex;
  flex-flow: column;
  gap: 15px;

  &__inputWrapper {
  }

  &__sendBtn {
    width: 100%;
  }
}
