@import '../../../mixins.scss';

.notification {
  display: flex;
  flex-direction: column;
  min-width: 300px;

  // header
  &__header {
    background-color: var(--background-3-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__headerText {
    @include paragraph;
    color: var(--grey-text-color);
    margin: 5px 0px;
    margin-left: 20px;
    user-select: none;
  }

  &__closeBtn {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url('../../../assets/svgs/cross.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.1s background-color;

    &:hover {
      background-color: var(--background-color);
    }
  }

  // main
  &__main {
    background-color: var(--background-5-color);

    padding: 0px 20px;
    min-height: 0px;
    height: 0;
    overflow: hidden;

    animation: disclosure 0.3s 0.3s forwards;
  }

  &__textContent {
  }
}

@keyframes disclosure {
  0% {
    height: 0;
    min-height: 0px;
  }
  100% {
    padding: 10px 20px;
    min-height: 60px;
  }
}
