.text {
  position: relative;
  overflow: hidden;
  width: 100%;

  &_hovering {
    & .text__defaultText {
      transform: translateY(-100%);
    }

    & .text__hoverText {
      transform: translateY(0%);
    }
  }

  &__text {
    transition: transform 0.1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__defaultText {
    transform: translateY(0%);
  }

  &__hoverText {
    transform: translateY(100%);
  }

  &__hiddenText {
    visibility: hidden;
  }
}
