@import '../../../mixins.scss';

.item {
  display: flex;
  flex-direction: column;
  background-color: var(--background-5-color);
  border: 1px solid var(--background-6-color);
  border-radius: 3px;
  overflow: hidden;

  &__imgContainer {
    flex: 1;
    aspect-ratio: 1;
    padding: 15px 20px;
    border-bottom: 1px solid var(--background-6-color);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__main {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__about {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__itemName {
    @include text;
  }

  &__price {
    @include h3;
    color: var(--success-color);

    &::after {
      content: ' руб.';
    }
  }

  &__aboutItemText {
    @include paragraph;
    color: var(--text-white-grey-color);
  }

  &__itemTags {
    @include smallText;
    color: var(--light-text-color);
  }

  &__manage {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 5px;
  }

  &__manageBtn {
    padding: 8px 20px;
    color: var(--main-reverse-color);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.125);

    &_buy {
      @include background-green-lg(150deg);

      &:hover {
        @include background-green-lg-hover(150deg);
      }
    }

    &_sendGift {
      @include background-blue-lg(150deg);

      &:hover {
        @include background-blue-lg-hover(150deg);
      }
    }
  }
}
