@import 'mixins.scss';

.card {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__textContent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__textBackground {
    position: absolute;
    @include background-main-transparent-3-lg;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    height: 250px;

    transition: 0.25s;
    opacity: 0;
  }

  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 7; /* Количество строк для отображения */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 160px;
    @include paragraph;
    position: absolute;
    margin: 20px;

    transition: 0.1s;
    bottom: -180px;
  }

  &:hover {
    .card {
      &__textBackground {
        opacity: 1;
      }

      &__text {
        bottom: 0;
      }
    }
  }
}
