@import 'mixins.scss';

.rightMenu {
  &__friendsLabel {
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
  }

  &__friendsLabelText {
    @include textBold;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;

    &:before,
    &:after {
      content: '';
      display: block;
      flex: 1;
      height: 2px;
      background-color: var(--border-color);
    }
  }

  &__friends {
    max-height: 100%;
  }

  &__withoutFriends {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  &__withoutFriendsLabel {
    @include text;
    color: var(--light-text-color);
  }

  &__addFriendBtnContainer {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__addFriendBtn {
    width: 80%;
  }
}

.notSignIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 240px;

  &__label {
    @include text;
    width: 150px;
    text-align: center;
    color: var(--grey-text-color);
  }

  &__signInBtn {
    @include text;
    color: var(--active-2-color);
    cursor: pointer;

    &:hover {
      color: var(--active-2-hover-color);
    }
  }

  &__signUpBtn {
    @include text;
  }

  &__svgContainer {
  }
}
