@import '../../mixins.scss';

.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  @include background-main-transparent-2-lg(90deg);

  &__img {
    min-width: 120px;
    min-height: 74px;
    max-width: 271px;
    max-height: 155px;
    border-radius: 5px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1;
  }
}
