@import '../../../mixins.scss';

.comment {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &_background {
    padding: 15px 20px;
    background-color: var(--background-2-color);
    border-radius: 2px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__mainInfo {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
  }

  &__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &__textInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__authorName {
    @include text;
  }

  &__dateCreate {
    @include paragraph;
    color: var(--light-text-color);
  }

  &__headerChildren {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__textContent {
    @include paragraph;
  }

  &__moreTextBtn {
    @include link;
    padding: 5px 10px;
    color: var(--active-2-color);
    cursor: pointer;

    &:hover {
      color: var(--active-2-hover-color);
    }
  }
}

.skeleton {
  &__textInfo {
    gap: 8px;
  }

  &__authorName {
    width: 130px;
    height: 20px;
  }

  &__dateCreate {
    width: 180px;
    height: 12px;
  }

  &__textContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
