.select {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__select {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: var(--background-3-color);
    outline: none;

    appearance: none;

    background-image: url('/assets/svgs/arrow.svg');
    background-position: right 20px center;
    background-repeat: no-repeat;

    &_error {
      border: 1px solid var(--error-color);
    }

    &:hover {
      background-color: var(--background-3-hover-color);
    }
  }

  &__option {
    background-color: var(--background-3-hover-color);
  }

  &__errorText {
    margin-left: 10px;
    color: var(--error-color);
  }
}
