@import '../mixins.scss';

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    position: fixed;
    z-index: 11;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }

  &__menu {
    width: 280px;
    position: fixed;
    height: 100%;
    z-index: 10;
    padding-top: 53px;
    box-sizing: border-box;
  }

  &__leftMenu {
    left: 0;
  }

  &__main {
    flex: 1;
    padding-bottom: 50px;
    margin: 53px 280px 0px;
  }

  &__rightMenu {
    right: 0;
  }

  &__loadingSpinnerContainer {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.1;
  }
}
