.form {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__saveBtnContainer {
    width: 100%;
  }

  &__saveBtn {
    width: 100%;
  }
}
