@import '../../../mixins.scss';

.leftMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: column;

  &__loadingMenuBtn {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0px 23px;
    align-items: center;
    height: 56px;
  }

  &__loadingMenuBtnIcon {
    width: 25px;
    height: 25px;
    border-radius: 6px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  &__changeTheme {
  }

  &__link {
    @include link;
    color: var(--light-text-color);

    &:hover {
      color: var(--grey-text-color);
    }
  }

  &__text {
    @include smallText;
    color: var(--light-text-color);
  }
}

.changeThemeBtn {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transform: rotate(45deg);

  &:hover {
    outline: 2px solid var(--active-2-color);
  }

  &__firstColor {
    width: 50%;
    height: 100%;
    background-color: var(--background-color);
  }

  &__secondColor {
    width: 50%;
    height: 100%;
    background-color: var(--background-color--reverse-theme);
  }
}
