.loading {
  width: 23px;
  height: 23px;

  &__loading {
    width: 23px;
    height: 23px;
    animation: rotation 4s linear infinite;
  }

  & > svg {
    & > path {
      fill: var(--active-color);
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
