//#region shadow mixins
@mixin light-shadow() {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
}
@mixin big-shadow() {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
//#endregion

//#region effects
@mixin simple-blur() {
  backdrop-filter: blur(5px);
}
//#endregion

//#region gradients
// linear gradients
@mixin background-green-lg($direction: 180deg) {
  background: linear-gradient(
    $direction,
    var(--success-color),
    var(--success-2-color)
  );
}
@mixin background-green-lg-hover($direction: 180deg) {
  background: linear-gradient(
    $direction,
    var(--success-hover-color),
    var(--success-2-hover-color)
  );
}

@mixin background-blue-lg($direction: 180deg) {
  background: linear-gradient(
    $direction,
    var(--active-2-color),
    var(--active-2-v2-color)
  );
}
@mixin background-blue-lg-hover($direction: 180deg) {
  background: linear-gradient(
    $direction,
    var(--active-2-hover-2-color),
    var(--active-2-v2-hover-color)
  );
}

@mixin background-main-lg($direction: 180deg) {
  background: linear-gradient(
    $direction,
    var(--background-2-color) 55%,
    var(--lg-main-dark-color) 110%
  );
}

@mixin background-main-transparent-lg($direction: 180deg) {
  background: linear-gradient(
    $direction,
    var(--lg-main-1-transparent-1-color) 42%,
    var(--lg-main-1-transparent-2-color) 74%,
    var(--lg-main-1-transparent-3-color) 92%
  );
}
@mixin background-main-transparent-2-lg($direction: 180deg) {
  background: linear-gradient(
    $direction,
    var(--lg-main-2-transparent-1-color) 0%,
    var(--lg-main-2-transparent-2-color) 100%
  );
}
@mixin background-main-transparent-3-lg($direction: 180deg) {
  background: linear-gradient(
    $direction,
    rgba(var(--lg-main-3-transparent-1-color), 0) 0%,
    rgba(var(--lg-main-3-transparent-1-color), 0.5) 15%,
    rgba(var(--lg-main-3-transparent-1-color), 0.72) 25%,
    rgba(var(--lg-main-3-transparent-1-color), 0.88) 38%,
    rgba(var(--lg-main-3-transparent-1-color), 0.94) 50%,
    rgba(var(--lg-main-3-transparent-1-color), 0.96) 63%,
    rgba(var(--lg-main-3-transparent-1-color), 0.98) 75%,
    rgba(var(--lg-main-3-transparent-1-color), 0.99) 88%,
    rgba(var(--lg-main-3-transparent-1-color), 1) 100%
  );
}

@mixin soft-lg($direction: 180deg) {
  background: linear-gradient($direction, #622f94, #ff8474);
}

//radial gradients
@mixin blue-transparent-rg() {
  background: radial-gradient(
    rgba(85, 95, 180, 0.3) 0%,
    rgba(85, 95, 180, 0.05) 50%,
    rgba(85, 95, 180, 0) 70%
  );
}
//#endregion

//#region fonts mixins
@mixin text() {
  font-size: 16px;
  line-height: 22px;
  font-weight: var(--regular-fw);
}
@mixin textBold() {
  font-size: 16px;
  line-height: 22px;
  font-weight: var(--semibold-fw);
  letter-spacing: 0.5px;
}
@mixin textUnderline() {
  font-size: 16px;
  line-height: 22px;
  font-weight: var(--regular-fw);
  text-decoration: underline;
}

@mixin paragraph() {
  font-size: 14px;
  line-height: 22px;
  font-weight: var(--regular-fw);
}
@mixin paragraphUnderline() {
  font-size: 14px;
  line-height: 22px;
  font-weight: var(--regular-fw);
  text-decoration: underline;
}

@mixin link() {
  font-size: 14px;
  line-height: 20px;
  font-weight: var(--regular-fw);
}

@mixin smallText() {
  font-size: 12px;
  line-height: 15px;
  font-weight: var(--semibold-fw);
  letter-spacing: 0.4px;
}

@mixin h1() {
  font-size: 22px;
  line-height: 26px;
  font-weight: var(--semibold-fw);
  letter-spacing: 0.5px;
}
@mixin h2() {
  font-size: 20px;
  line-height: 24px;
  font-weight: var(--semibold-fw);
  letter-spacing: 0.5px;
}
@mixin h3() {
  font-size: 18px;
  line-height: 22px;
  font-weight: var(--semibold-fw);
  letter-spacing: 0.5px;
}
@mixin h4() {
  font-size: 16px;
  line-height: 20px;
  font-weight: var(--semibold-fw);
  letter-spacing: 0.5px;
}
//#endregion
