// skeleton pulse
.pulse {
  background: linear-gradient(
    -90deg,
    var(--background-color) 0%,
    var(--background-2-color) 50%,
    var(--background-color) 100%
  );
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
}

.pulse-light {
  background: linear-gradient(
    -90deg,
    var(--background-3-color) 0%,
    var(--background-2-color) 50%,
    var(--background-3-color) 100%
  );
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
}

.asideContent {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  max-width: 403px;

  & > div {
    background-color: var(--background-5-color);
    border-radius: 5px;
  }
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}
