.app {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  padding: 3px 20px;

  &:hover {
    background-color: var(--background-3-color);
  }

  &__img {
    width: 25px;
    height: 25px;
    border-radius: 3px;
  }

  &__name {
    color: var(--text-white-grey-color);
  }
}
