.window {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;

  &__main {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
