@import 'mixins.scss';

.popUp {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
  width: 90%;
  max-width: 765px;
  @include big-shadow();

  &__content {
    background-color: var(--background-5-color);
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    padding: 24px 40px;
  }

  &__label {
    text-align: center;
  }

  &__labelText {
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__recoveryPasswordLink {
    color: var(--active-2-color);
    cursor: pointer;

    &:hover {
      color: var(--active-2-hover-color);
    }
  }
}

.poster {
  width: 100%;
  max-width: 269px;
  height: 417px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &__backgroundImg {
    user-select: none;
    animation: swimmingPosterBackground 5s infinite ease-in-out;
    position: absolute;
    top: -10px;
    left: -10px;
    object-fit: cover;
  }

  &__logo {
    position: absolute;
    width: 150px;
    height: auto;
    animation: swimmingPosterLogo 5s infinite ease-in-out;
  }
}

@keyframes swimmingPosterBackground {
  0% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes swimmingPosterLogo {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.1);
  }
}
