@import 'mixins.scss';

.modal {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
  }

  &__label {
    @include h2;
  }

  &__hint {
    color: var(--grey-text-color);
    width: 400px;
    text-align: center;
  }

  &__envelopeImg {
    width: 100px;
  }
}
